/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
.override-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.aspect-ratio-16-9 {
    position: relative;
    width: 100%;
    /* or 画像の幅に応じたパーセンテージやpxを指定 */
    padding-top: 56.25%;
    /* 16:9のアスペクト比の場合の高さ(9 / 16 * 100%) */
}

.aspect-ratio-16-9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* コンテナの幅に合わせる */
    height: 100%;
    /* コンテナの高さに合わせる */
    object-fit: cover;
    /* 画像のアスペクト比を保ちつつ、コンテナを完全に埋める */
}