{{- $url := (.Get 0) -}}
{{- $username := (.Get 1) -}}
{{- $userid := (.Get 2) -}}
{{- $u := urls.Parse $url -}}

<div
    class="web-card group h-[130px] bg-white border shadow rounded-lg my-4 sm:my-6 px-0 overflow-hidden dark:bg-warmgray-900">
    <a href="{{ $url }}" class="flex group-hover:no-underline">

        <div class="h-[130px] w-[120px] sm:w-auto max-w-[230px]">
            <img src="/img/logo.png" alt="{{ $url }}" class="m-0 h-full w-full object-cover shrink-0 override-margin">
        </div>

        <div
            class="flex flex-1 flex-col justify-between py-2 px-4 sm:py-3 sm:px-5 transition ease-in-out duration-100 group-hover:bg-primary-color-50">
            <div class="flex flex-1 flex-col gap-y-1">
                <div
                    class="text-sm sm:text-base font-bold text-gray-800 leading-normal break-words line-clamp-2 dark:text-white">
                    {{ $username }}( {{ $userid }} )
                </div>
                <div class="text-xs sm:text-sm text-gray-600 line-clamp-2 dark:text-gray-400">
                    Xユーザーの{{ $username }}( {{ $userid }} )さんはXを利用しています
                </div>
            </div>

            <div class="flex flex-1 flex-col justify-end h-10">
                <div class="flex flex-row items-center">
                    <img src="https://www.google.com/s2/favicons?sz=14&amp;domain_url={{ $u.Scheme }}://{{ $u.Host }}"
                        class="fav-icon mr-1 override-margin" alt="{{ $u.Host }} favicon image">
                    <span class="text-xs sm:text-sm text-gray-600 dark:text-white">{{ $u.Host |
                        truncate 30
                        }}</span>
                </div>
            </div>
        </div>
    </a>
</div>